name: Typos-Check
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Check spelling with custom config file
        uses: crate-ci/typos@master
        with:
          config: ./.typos.toml
